@using System.Web.Compilation
@using UberDeployer.WebApp.Core.Models
@model BaseViewModel
<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Static/site.css")" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="@Url.Content("~/Static/jquery.js")"></script>

  <script type="text/javascript" src="@Url.Content("~/Static/bootstrap/js/bootstrap.js")"></script>

  <script type="text/javascript" src="@Url.Content("~/Static/site.js?t=483928")"></script>

  @* ReSharper disable PossibleNullReferenceException *@

  <script type="text/javascript">
    setAppPrefix('@(Request.ApplicationPath.EndsWith("/") ? Request.ApplicationPath : Request.ApplicationPath + "/")');
  </script>

  @* ReSharper restore PossibleNullReferenceException *@
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="@Url.Action("Index", "Home")">ÜberDeployer</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="@(Model.CurrentAppPage == AppPage.Deployment ? "active" : "")">
              <a href="@Url.Action("Index", "Deployment")">Deployment</a>
            </li>
            <li class="@(Model.CurrentAppPage == AppPage.History ? "active" : "")">
              <a href="@Url.Action("Index", "History")">History</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a href="https://github.com/marek-stoj/UberDeployer">Fork Me on GitHub!</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <span>Username: @Model.Username</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  @RenderBody()
  <div class="footer navbar navbar-fixed-bottom">
    <div class="container" style="text-align: right;">
      @* ReSharper disable PossibleNullReferenceException *@
      Version @(BuildManager.GetGlobalAsaxType().BaseType.Assembly.GetName().Version)
      @* ReSharper restore PossibleNullReferenceException *@
    </div>
  </div>
</body>
</html>
